In [1]:
import numpy as np
import pandas as pd
import scipy

In [2]:
precios = pd.read_csv("precios-B2.csv")
precios

         Fecha  Emisora Serie     Precio
0     20161201  ACTICOB   B-2  26.208114
1     20161201  ACTIGOB   B-2   3.982440
2     20161201  ACTIMED   B-2   4.409726
3     20161201  ACTIREN   B-2   7.491280
4     20161201  ALTERNA   B-2   3.342991
...        ...      ...   ...        ...
5938  20191213     MAYA    B2  31.985886
5939  20191217     MAYA    B2  32.955200
5940  20191224     MAYA    B2  32.873076
5941  20200106     MAYA    B2  33.232250
5942  20200108     MAYA    B2  32.832774

[5943 rows x 4 columns]

In [18]:
emisoras = ['ACTICOB', 'ACTIGOB', 'ACTIMED', 'ACTIREN', 'ALTERNA', 'IMPULSA',
       'ACTI500', 'MAYA', 'ACTVIDA']

In [19]:
for elem in emisoras:
    aux = precios[precios["Emisora"] == elem]
    aux = aux.drop('Serie', axis=1)
    aux = aux.drop('Emisora', axis=1)
    #
    #print(type(aux))
    aux.columns = ['Date', 'Adj Close']
    aux = aux.set_index('Date')
    #print(aux.to_string)
    aux.to_csv("data/" + elem + ".csv", index = True, header=True)

<class 'pandas.core.frame.DataFrame'>
<bound method DataFrame.to_string of           Adj Close
Date
20161201  26.208114
20161216  26.059088
20170103  26.508841
20170120  28.008135
20170123  27.578369
...             ...
20191029  24.420845
20191107  24.516503
20191023  24.473878
20191025  24.480917
20191104  24.459062

[750 rows x 1 columns]>
<class 'pandas.core.frame.DataFrame'>
<bound method DataFrame.to_string of           Adj Close
Date
20161201   3.982440
20161216   3.988333
20170103   3.994667
20170120   3.999699
20170123   4.001017
...             ...
20191029   4.597000
20191107   4.602412
20191023   4.592896
20191025   4.594444
20191104   4.600643

[756 rows x 1 columns]>
<class 'pandas.core.frame.DataFrame'>
<bound method DataFrame.to_string of           Adj Close
Date
20161201   4.409726
20161216   4.418013
20170103   4.429017
20170120   4.438043
20170123   4.439727
...             ...
20200129   5.332314
20200204   5.336459
20200214   5.344093
20200217   5.345904
20200220   5.348080

[821 rows x 1 columns]>
<class 'pandas.core.frame.DataFrame'>
<bound method DataFrame.to_string of           Adj Close
Date
20161201   7.491280
20161216   7.497159
20170103   7.504823
20170120   7.512771
20170123   7.514290
...             ...
20191010   8.171148
20191029   8.181866
20191023   8.177591
20191025   8.179599
20191104   8.184939

[745 rows x 1 columns]>
<class 'pandas.core.frame.DataFrame'>
<bound method DataFrame.to_string of           Adj Close
Date
20161201   3.342991
20161216   3.348274
20170103   3.355833
20170120   3.363532
20170123   3.364943
...             ...
20191224   3.987218
20200113   3.998077
20200117   4.000803
20200120   4.002548
20200127   4.006391

[802 rows x 1 columns]>
<class 'pandas.core.frame.DataFrame'>
<bound method DataFrame.to_string of           Adj Close
Date
20181217  37.803153
20181221  37.826983
20190109  37.992566
20190115  38.041249
20190116  38.040238
...             ...
20200221  40.235481
20200225  40.232770
20200229  40.109531
20200303  40.228835
20200306  40.306532

[315 rows x 1 columns]>
<class 'pandas.core.frame.DataFrame'>
<bound method DataFrame.to_string of           Adj Close
Date
20161201   3.653181
20161214   3.727571
20161230   3.762451
20170103   3.757526
20170113   3.981505
...             ...
20190611   4.389558
20190710   4.510806
20190724   4.561865
20190812   4.484909
20190826   4.485313

[691 rows x 1 columns]>
<class 'pandas.core.frame.DataFrame'>
<bound method DataFrame.to_string of           Adj Close
Date
20161201  32.029388
20161214  33.003517
20161230  32.576839
20170103  32.551276
20170113  32.134008
...             ...
20191213  31.985886
20191217  32.955200
20191224  32.873076
20200106  33.232250
20200108  32.832774

[790 rows x 1 columns]>
<class 'pandas.core.frame.DataFrame'>
<bound method DataFrame.to_string of           Adj Close
Date
20181008   6.942998
20181009   6.944827
20181010   6.945818
20181017   6.954607
20181022   6.956884
...             ...
20190919   7.345123
20190920   7.347237
20191004   7.361992
20191023   7.379672
20191025   7.383301

[273 rows x 1 columns]>