In [2]:
import numpy as np
import pandas as pd
import scipy

In [3]:
precios = pd.read_csv("precios-B2.csv")
precios

         Fecha  Emisora Serie     Precio
0     20161201  ACTICOB   B-2  26.208114
1     20161201  ACTIGOB   B-2   3.982440
2     20161201  ACTIMED   B-2   4.409726
3     20161201  ACTIREN   B-2   7.491280
4     20161201  ALTERNA   B-2   3.342991
...        ...      ...   ...        ...
5938  20191213     MAYA    B2  31.985886
5939  20191217     MAYA    B2  32.955200
5940  20191224     MAYA    B2  32.873076
5941  20200106     MAYA    B2  33.232250
5942  20200108     MAYA    B2  32.832774

[5943 rows x 4 columns]

In [4]:
emisoras = ['ACTICOB', 'ACTIGOB', 'ACTIMED', 'ACTIREN', 'ALTERNA', 'IMPULSA',
       'ACTI500', 'MAYA', 'ACTVIDA']

In [7]:

for elem in emisoras:
    aux = precios[precios["Emisora"] == elem]
    aux = aux.drop('Serie', axis=1)
    aux = aux.drop('Emisora', axis=1)
    aux = aux.set_index('Fecha')
    aux.to_csv("data/" + elem + ".csv", index = True, header=True)