In [1]:
import numpy as np
import pandas as pd
import scipy

In [2]:
precios = pd.read_csv("Precios5years.csv")

In [3]:
precios

          Fecha  Emisora Serie     Precio
0      20161201  ACTICOB     A  27.662738
1      20161201  ACTICOB   B-1  25.630848
2      20161201  ACTICOB   B-2  26.208114
3      20161201  ACTICOB   B-3  26.840196
4      20161201  ACTICOB     E  28.032281
...         ...      ...   ...        ...
94666  20210329    SALUD     B   4.130376
94667  20210329    SALUD     C   0.000000
94668  20210329    SALUD     E   4.909916
94669  20210329    SALUD    FF   5.090870
94670  20210329    SALUD     M   4.138616

[94671 rows x 4 columns]

In [4]:
precios_aux1 = precios[precios.Serie == "B-2"]
precios_aux1

          Fecha  Emisora Serie     Precio
2      20161201  ACTICOB   B-2  26.208114
14     20161201  ACTIGOB   B-2   3.982440
26     20161201  ACTIMED   B-2   4.409726
39     20161201  ACTIREN   B-2   7.491280
51     20161201  ALTERNA   B-2   3.342991
...         ...      ...   ...        ...
87084  20200221  IMPULSA   B-2  40.235481
87131  20200225  IMPULSA   B-2  40.232770
87252  20200229  IMPULSA   B-2  40.109531
87299  20200303  IMPULSA   B-2  40.228835
91349  20200306  IMPULSA   B-2  40.306532

[4194 rows x 4 columns]

In [5]:
precios_aux2 = precios[precios.Serie == "B2"]
precios_aux2

          Fecha  Emisora Serie     Precio
63     20161201  ACTI500    B2   3.653181
80     20161201     MAYA    B2  32.029388
86     20161214  ACTI500    B2   3.727571
103    20161214     MAYA    B2  33.003517
170    20161230  ACTI500    B2   3.762451
...         ...      ...   ...        ...
86208  20191213     MAYA    B2  31.985886
86235  20191217     MAYA    B2  32.955200
86292  20191224     MAYA    B2  32.873076
86319  20200106     MAYA    B2  33.232250
86367  20200108     MAYA    B2  32.832774

[1756 rows x 4 columns]

In [6]:
frames = [precios_aux1,precios_aux2]
precios = pd.concat(frames)
precios

          Fecha  Emisora Serie     Precio
2      20161201  ACTICOB   B-2  26.208114
14     20161201  ACTIGOB   B-2   3.982440
26     20161201  ACTIMED   B-2   4.409726
39     20161201  ACTIREN   B-2   7.491280
51     20161201  ALTERNA   B-2   3.342991
...         ...      ...   ...        ...
86208  20191213     MAYA    B2  31.985886
86235  20191217     MAYA    B2  32.955200
86292  20191224     MAYA    B2  32.873076
86319  20200106     MAYA    B2  33.232250
86367  20200108     MAYA    B2  32.832774

[5950 rows x 4 columns]

In [7]:
precios.to_csv('precios-B2.csv', index = False, header=True)

In [8]:
#precios['Fecha'] = pd.to_datetime(precios['Fecha'], yearfirst=True)

In [12]:
emisoras = precios.Emisora.unique()
emisoras

array(['ACTICOB', 'ACTIGOB', 'ACTIMED', 'ACTIREN', 'ALTERNA', 'IMPULSA',
       'ACTI500', 'MAYA', 'ACTVIDA'], dtype=object)

In [10]:
#precios.sort_values(by=["Emisora"])


for emisora in emisoras:

    emisoraAuxiliar = precios[precios.Emisora == emisora]
    #print(emisoraAuxiliar)
    #print(emisoraAuxiliar.shape[0])
    len = emisoraAuxiliar.shape[0]
    len2 = emisoraAuxiliar.Fecha.unique().shape[0]
    #print(len2)
    if (len != (len2 + 1)):
        print(len,len2)
        print("Hay fechas duplicadas en la siguiente emisora",emisora )

315 315
Hay fechas duplicadas en la siguiente emisora IMPULSA
273 273
Hay fechas duplicadas en la siguiente emisora ACTVIDA

Tenemos fechas duplicadas en la siguiente emisora IMPULSA, ACTVIDA  
TODO. ELIMINAR DUPLICADOS.