In [188]:
import numpy as np
import pandas as pd
import random

In [25]:
data = pd.read_csv("comparativo_niveles.csv",sep=',', index_col=False)
data = data.drop('id',axis=1)

data = data[data["MEJOR_RENDIMIENTO"] == "Yes"]

x = data.groupby(data["ID_CLIENTE"])
data = x.sum()
data

                            NIVEL MEJOR_RENDIMIENTO
ID_CLIENTE
90001801    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
90001991    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
90002551    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
90002759    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
90002833    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
...                           ...               ...
93120509    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
93120616    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
93120632    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
93120681    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
93120699    NIVEL 1NIVEL 2NIVEL 3         YesYesYes

[11499 rows x 2 columns]

In [33]:
data2 = data[data["MEJOR_RENDIMIENTO"] == "YesYesYes"]
data2

                            NIVEL MEJOR_RENDIMIENTO
ID_CLIENTE
90001801    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
90001991    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
90002551    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
90002759    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
90002833    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
...                           ...               ...
93120509    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
93120616    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
93120632    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
93120681    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
93120699    NIVEL 1NIVEL 2NIVEL 3         YesYesYes

[11202 rows x 2 columns]

In [56]:
clientes = pd.read_csv("clientes.csv",sep=',')
clientes

,BP_Único_y/o_Repetido,CLAVE_CLIENTE,CATEGORIA_PRODUCTO,DETALLE_PRODUCTO,POSICION_CUENTA_FECHA_TRANS
0,Único,90000175,FONDOS DE DEUDA,"ACTIRENT, S.A. DE C.V. SOC INV DE INSTR DE DEUDA","202,017"
1,Repetido,90001470,FONDOS DE DEUDA,"ACTIRENT, S.A. DE C.V. SOC INV DE INSTR DE DEUDA","3,643"
2,Repetido,90001801,FONDOS DE DEUDA,"ACTIGOBER, S.A. DE C.V. SOC INV INSTRUM DE DEUDA","133,605"
3,Repetido,90001991,FONDOS DE COBERTURA,ACTICOB B,897
4,Repetido,90001991,RENTA VARIABLE,"FONDO MAYA,S.A DE C.V.,SOC. DE INV. DE RENTA V...","265,258"
...,...,...,...,...,...
41453,Repetido,97509467,FONDOS DE DEUDA,"ACTIMED, S.A. DE C.V SOC DE INV EN INSTR DE DEUDA","45,010"
41454,Repetido,97509483,FONDOS DE DEUDA,"ACTIGOBER, S.A. DE C.V. SOC INV INSTRUM DE DEUDA","4,498"
41455,Repetido,97509608,FONDOS DE DEUDA,"ACTIMED, S.A. DE C.V SOC DE INV EN INSTR DE DEUDA","49,999"
41456,Repetido,97516819,FONDOS DE DEUDA,"ACTIMED, S.A. DE C.V SOC DE INV EN INSTR DE DEUDA","49,999"
41457,Repetido,97523534,FONDOS DE DEUDA,"ACTIMED, S.A. DE C.V SOC DE INV EN INSTR DE DEUDA","199,997"

In [41]:
listaclientes = data2.index.values
listaclientes

array([90001801, 90001991, 90002551, ..., 93120632, 93120681, 93120699],
      dtype=int64)

In [59]:
clientes.isin(listaclientes).any(axis=1)

0        False
1        False
2         True
3         True
4         True
         ...
41453    False
41454    False
41455    False
41456    False
41457    False
Length: 41458, dtype: bool

In [60]:
clientes = clientes[clientes.isin(listaclientes).any(axis=1)]

In [62]:
def detalle_parser(detalle_producto):
    if "ACTIGOB" in detalle_producto:
        return "ACTIGOB"
    if "ACTIMED" in detalle_producto:
        return "ACTIMED"
    if "ACTIREN" in detalle_producto:
        return "ACTIREN"
    if "ALTERNA" in detalle_producto:
        return "ALTERNA"
    if "ACTVIDA" in detalle_producto:
        return "ACTVIDA"
    if "IMPULSA" in detalle_producto:
        return "IMPULSA"
    if "MAYA" in detalle_producto:
        return "MAYA"
    if "ACTICOB" in detalle_producto:
        return "ACTICOB"
    if "ACTI500" in detalle_producto:
        return "ACTI500"

In [66]:
clientes["DETALLE_PRODUCTO"] = [detalle_parser(x) for x in clientes["DETALLE_PRODUCTO"]]
clientes

<ipython-input-66-e63aaf1f09cf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clientes["DETALLE_PRODUCTO"] = [detalle_parser(x) for x in clientes["DETALLE_PRODUCTO"]]

,BP_Único_y/o_Repetido,CLAVE_CLIENTE,CATEGORIA_PRODUCTO,DETALLE_PRODUCTO,POSICION_CUENTA_FECHA_TRANS
2,Repetido,90001801,FONDOS DE DEUDA,ACTIGOB,"133,605"
3,Repetido,90001991,FONDOS DE COBERTURA,ACTICOB,897
4,Repetido,90001991,RENTA VARIABLE,MAYA,"265,258"
5,Repetido,90001991,FONDOS DE DEUDA,ACTIREN,10
10,Repetido,90002551,FONDOS DE DEUDA,ACTIMED,"260,975"
...,...,...,...,...,...
19994,Repetido,93120616,FONDOS DE DEUDA,ACTIMED,"32,665"
19995,Repetido,93120632,FONDOS DE DEUDA,ACTIMED,"4,089"
19996,Repetido,93120681,FONDOS DE DEUDA,ACTIMED,"208,435"
19997,Repetido,93120699,FONDOS DE DEUDA,ACTIREN,"10,002"
19998,Repetido,93120699,FONDOS DE DEUDA,ACTIMED,"195,971"

In [70]:
clientes = clientes.drop('BP_Único_y/o_Repetido', axis=1)
clientes = clientes.drop('CATEGORIA_PRODUCTO', axis=1)
clientes

       CLAVE_CLIENTE DETALLE_PRODUCTO POSICION_CUENTA_FECHA_TRANS
2           90001801          ACTIGOB                    133,605
3           90001991          ACTICOB                        897
4           90001991             MAYA                    265,258
5           90001991          ACTIREN                         10
10          90002551          ACTIMED                    260,975
...              ...              ...                         ...
19994       93120616          ACTIMED                     32,665
19995       93120632          ACTIMED                      4,089
19996       93120681          ACTIMED                    208,435
19997       93120699          ACTIREN                     10,002
19998       93120699          ACTIMED                    195,971

[13371 rows x 3 columns]

In [71]:
clientes

       CLAVE_CLIENTE DETALLE_PRODUCTO POSICION_CUENTA_FECHA_TRANS
2           90001801          ACTIGOB                    133,605
3           90001991          ACTICOB                        897
4           90001991             MAYA                    265,258
5           90001991          ACTIREN                         10
10          90002551          ACTIMED                    260,975
...              ...              ...                         ...
19994       93120616          ACTIMED                     32,665
19995       93120632          ACTIMED                      4,089
19996       93120681          ACTIMED                    208,435
19997       93120699          ACTIREN                     10,002
19998       93120699          ACTIMED                    195,971

[13371 rows x 3 columns]

In [177]:
#Recibe un DF con los precios y devuleve el retorno medio anual
def in_return_cov(df): 
    price = df.copy()
    price = (price / price.shift(1)) -1
    price.iloc[0,:] = 0 # Primeira linha = 0     
    
    returns = np.matrix(price)
    mean_returns = np.mean(returns, axis = 0)
    
    annual_returns = np.array([])
    for i in range(len(np.transpose(mean_returns))):
        annual_returns = np.append(annual_returns,(mean_returns[0,i]+1)**252-1)   
    
    cov = price.cov()*252
    
    return (annual_returns, np.matrix(cov))

#Carga la tabla de precios
def load_prices(symbol,index,start_date,end_date):
    
    dates = pd.date_range(start_date, end_date)
    dfBase = pd.DataFrame(index = dates)
    path = "data/{}.csv"
    
    dfIndex = pd.read_csv(path.format(index),index_col = "Date",
                          parse_dates = True,usecols = ['Date', 'Adj Close'], na_values=['nan'])
    
    dfIndex = dfIndex.dropna()
    dfIndex = dfIndex.rename(columns={'Adj Close': '{}'.format(index)})
    dfBase = dfBase.join(dfIndex, how = 'inner')
    
    
    for symbol in symbols:
        df_temp = pd.read_csv(path.format(symbol), index_col = "Fecha", parse_dates = True,
                              usecols = ['Fecha', 'Precio'], na_values=['nan'])
        df_temp = df_temp.rename(columns={'Precio': symbol})
        dfBase = dfBase.join(df_temp)
    
    dfBase.fillna(method = "ffill", inplace = True)
    dfBase.fillna(method = "bfill", inplace = True)
    
    return dfBase.drop('MXX',axis = 1)

#Calcula el retorno de un portafolio de activos
def port_return(W,r):
    return sum(W*r)

#Calcula el peso inicial del portafolio dado el tamaños de la bolsa
def mkt_weights(weights):
    return np.array(weights) / sum(weights)

def risk_return(W,S,r,rf=0.06):
    var = np.dot(np.dot(W,S),np.transpose(W))
    port_r = port_return(W,r)
    x = (port_r - rf) / var
    return x.item(0)

#Calcula la matriz del retorno implicito
def vector_equilibrium_return(S, W, r ):
    
    A = risk_return(W,S,r)
    
    return (np.dot(A,np.dot(S,W)))

def diago_omega(t, P, S):
    
    omega = np.dot(t,np.dot(P,np.dot(S,np.transpose(P))))
    
    for i in range(len(omega)):
        for y in range(len(omega)):
            if i != y: omega[i,y] = 0
    return omega
    
#Black Litterman Model
def posterior_estimate_return(t,S,P,Q,PI):
    
    omega = diago_omega(t, P, S)
    
    parte_1 = t*np.dot(S,np.transpose(P))
    parte_2 = np.linalg.inv(np.dot(P*t,np.dot(S,np.transpose(P))) + omega)
    parte_3 = Q - np.dot(P,np.transpose(PI))
    
    return np.transpose(PI) + np.dot(parte_1,np.dot(parte_2,parte_3))


def posterior_covariance(t,S,P,PI):
    
    omega = diago_omega(t, P, S)
    
    parte_1 = t*np.dot(S,np.transpose(P))
    parte_2 = np.linalg.inv(t*np.dot(P,np.dot(S,np.transpose(P)))+omega)
    parte_3 = t*np.dot(P,S)

    return t*S - np.dot(parte_1,np.dot(parte_2,parte_3))

In [74]:
claves_unicas= clientes.CLAVE_CLIENTE.unique()
len(claves_unicas)

11202

In [212]:
#11202
df = pd.DataFrame(columns=['CLAVE_CLIENTE','ACTICOB', 'ACTIGOB', 'ACTIMED', 'ACTIREN', 'ALTERNA', 'IMPULSA',
       'ACTI500', 'MAYA', 'ACTVIDA'])
for i in range(0,11201):
    aux = clientes[clientes.CLAVE_CLIENTE == claves_unicas[i]].reset_index(drop=True)
    #print(aux.to_string())
    symbols = aux.DETALLE_PRODUCTO.values
    
    #Eliminamos las comas
    aux['POSICION_CUENTA_FECHA_TRANS']=aux['POSICION_CUENTA_FECHA_TRANS'].str.replace(',','').astype(int)

    weights = aux.POSICION_CUENTA_FECHA_TRANS.values
    precios = load_prices(symbols,"MXX", "2016-12-01", "2019-08-26")
    
    assets_return , S = in_return_cov(precios)

    #print(".-.-.-. Covariance Matrix .-.-.-.")
    #display(pd.DataFrame(S,columns = symbols,index = symbols))
    #print(".-.-.-.-.-.-.-.-.-.-.-.--.-.-.-..-.")
    W = mkt_weights(weights)
    
    #display(pd.DataFrame({'Annual Mean Return %': assets_return*100.00, 'Weight (based on market cap)': W}, index=symbols).T)
    #print(".-.-.-.-.-.-.-.-.-.-.-.--.-.-.-..-.")
    #print(".-.-.-. Delta - Coeficiente de aversion al riesgo .-.-.-.")
    A = risk_return(W,S,assets_return)
    #display(A)
    #print(".-.-.-. vector de retornos de equilibrio .-.-.-.")
    #Calculado usando otimização reversa.
    PI = vector_equilibrium_return(S, W, assets_return)
    #display(pd.DataFrame(np.transpose(PI), index=symbols))
    #print(".-.-.-.-.-.-.-.-.-.-.-.--.-.-.-..-.")
    Q = np.zeros((3,1))
    Q[0,0] = 0.005
    Q[1,0] = 0.01
    Q[2,0] = 0.005

    P = np.zeros((3,len(symbols)))

    P[0,random.randint(0, len(symbols)-1)] = 1
    P[0,random.randint(0, len(symbols)-1)] = -1

    P[1,random.randint(0, len(symbols)-1)] = 1
    P[1,random.randint(0, len(symbols)-1)] = -1

    P[2,random.randint(0, len(symbols)-1)] = 1
    P[2,random.randint(0, len(symbols)-1)] = -1

    #display(pd.DataFrame(Q, columns = ["Views"]) )

    #display(pd.DataFrame(P,columns = symbols) )
    #print(".-.-.-.-.-.-.-.-.-.-.-.--.-.-.-..-.")

    #print(".-.-.-. Black-Litterman formula .-.-.-.")
    #Calculando Black-Litterman formula
    t = 1 / len(precios) # Medida de incerteza das estimativas de retornos pelo método Meucci
    expc_return = posterior_estimate_return(t,S,P,Q,PI)
    #display(pd.DataFrame(expc_return, index = symbols))
    #print(".-.-.-.-.-.-.-.-.-.-.-.--.-.-.-..-.")
    #print(".-.-.-. Varianza Posterior .-.-.-.")
    post_cov = posterior_covariance(t,S,P,PI)
    #display(pd.DataFrame(post_cov, index = symbols, columns = symbols))
    cov_post_estimate = post_cov + S

    #display(pd.DataFrame(cov_post_estimate, index = symbols, columns = symbols))
    #print(".-.-.-. Nuevo Peso del Portafolio .-.-.-.")
    new_weigth = np.dot(np.transpose(expc_return),np.linalg.inv(A*cov_post_estimate))
    result = pd.DataFrame(new_weigth, columns = symbols)
    result['CLAVE_CLIENTE'] = aux.CLAVE_CLIENTE.unique()[0]
    df = df.append(result, ignore_index=True)
    

#df

ValueError: columns overlap but no suffix specified: Index(['ACTIMED'], dtype='object')

In [204]:
df

,CLAVE_CLIENTE,ACTICOB,ACTIGOB,ACTIMED,ACTIREN,ALTERNA,IMPULSA,ACTI500,MAYA,ACTVIDA
0,90001991,0.122824,NaN,NaN,-0.119421,NaN,NaN,NaN,0.54659,NaN