In [110]:
import numpy as np
import pandas as pd
import random

In [111]:
data = pd.read_csv("comparativo_niveles.csv",sep=',', index_col=False)
data = data.drop('id',axis=1)

data = data[data["MEJOR_RENDIMIENTO"] == "Yes"]

x = data.groupby(data["ID_CLIENTE"])
data = x.sum()
data

                            NIVEL MEJOR_RENDIMIENTO
ID_CLIENTE
90001801    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
90001991    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
90002551    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
90002759    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
90002833    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
...                           ...               ...
93120509    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
93120616    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
93120632    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
93120681    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
93120699    NIVEL 1NIVEL 2NIVEL 3         YesYesYes

[11499 rows x 2 columns]

In [112]:
data2 = data[data["MEJOR_RENDIMIENTO"] == "YesYesYes"]
data2

                            NIVEL MEJOR_RENDIMIENTO
ID_CLIENTE
90001801    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
90001991    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
90002551    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
90002759    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
90002833    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
...                           ...               ...
93120509    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
93120616    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
93120632    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
93120681    NIVEL 1NIVEL 2NIVEL 3         YesYesYes
93120699    NIVEL 1NIVEL 2NIVEL 3         YesYesYes

[11202 rows x 2 columns]

In [113]:
clientes = pd.read_csv("clientes.csv",sep=',')
clientes

,BP_Único_y/o_Repetido,CLAVE_CLIENTE,CATEGORIA_PRODUCTO,DETALLE_PRODUCTO,POSICION_CUENTA_FECHA_TRANS
0,Único,90000175,FONDOS DE DEUDA,"ACTIRENT, S.A. DE C.V. SOC INV DE INSTR DE DEUDA","202,017"
1,Repetido,90001470,FONDOS DE DEUDA,"ACTIRENT, S.A. DE C.V. SOC INV DE INSTR DE DEUDA","3,643"
2,Repetido,90001801,FONDOS DE DEUDA,"ACTIGOBER, S.A. DE C.V. SOC INV INSTRUM DE DEUDA","133,605"
3,Repetido,90001991,FONDOS DE COBERTURA,ACTICOB B,897
4,Repetido,90001991,RENTA VARIABLE,"FONDO MAYA,S.A DE C.V.,SOC. DE INV. DE RENTA V...","265,258"
...,...,...,...,...,...
41451,Repetido,97509467,FONDOS DE DEUDA,"ACTIMED, S.A. DE C.V SOC DE INV EN INSTR DE DEUDA","45,010"
41452,Repetido,97509483,FONDOS DE DEUDA,"ACTIGOBER, S.A. DE C.V. SOC INV INSTRUM DE DEUDA","4,498"
41453,Repetido,97509608,FONDOS DE DEUDA,"ACTIMED, S.A. DE C.V SOC DE INV EN INSTR DE DEUDA","49,999"
41454,Repetido,97516819,FONDOS DE DEUDA,"ACTIMED, S.A. DE C.V SOC DE INV EN INSTR DE DEUDA","49,999"
41455,Repetido,97523534,FONDOS DE DEUDA,"ACTIMED, S.A. DE C.V SOC DE INV EN INSTR DE DEUDA","199,997"

In [114]:
listaclientes = data2.index.values
listaclientes

array([90001801, 90001991, 90002551, ..., 93120632, 93120681, 93120699],
      dtype=int64)

In [115]:
clientes.isin(listaclientes).any(axis=1)

0        False
1        False
2         True
3         True
4         True
         ...
41451    False
41452    False
41453    False
41454    False
41455    False
Length: 41456, dtype: bool

In [116]:
clientes = clientes[clientes.isin(listaclientes).any(axis=1)]

In [117]:
def detalle_parser(detalle_producto):
    if "ACTIGOB" in detalle_producto:
        return "ACTIGOB"
    if "ACTIMED" in detalle_producto:
        return "ACTIMED"
    if "ACTIREN" in detalle_producto:
        return "ACTIREN"
    if "ALTERNA" in detalle_producto:
        return "ALTERNA"
    if "ACTVIDA" in detalle_producto:
        return "ACTVIDA"
    if "IMPULSA" in detalle_producto:
        return "IMPULSA"
    if "MAYA" in detalle_producto:
        return "MAYA"
    if "ACTICOB" in detalle_producto:
        return "ACTICOB"
    if "ACTI500" in detalle_producto:
        return "ACTI500"

In [118]:
clientes["DETALLE_PRODUCTO"] = [detalle_parser(x) for x in clientes["DETALLE_PRODUCTO"]]
clientes

<ipython-input-118-e63aaf1f09cf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clientes["DETALLE_PRODUCTO"] = [detalle_parser(x) for x in clientes["DETALLE_PRODUCTO"]]

,BP_Único_y/o_Repetido,CLAVE_CLIENTE,CATEGORIA_PRODUCTO,DETALLE_PRODUCTO,POSICION_CUENTA_FECHA_TRANS
2,Repetido,90001801,FONDOS DE DEUDA,ACTIGOB,"133,605"
3,Repetido,90001991,FONDOS DE COBERTURA,ACTICOB,897
4,Repetido,90001991,RENTA VARIABLE,MAYA,"265,258"
5,Repetido,90001991,FONDOS DE DEUDA,ACTIREN,10
10,Repetido,90002551,FONDOS DE DEUDA,ACTIMED,"260,975"
...,...,...,...,...,...
19992,Repetido,93120616,FONDOS DE DEUDA,ACTIMED,"32,665"
19993,Repetido,93120632,FONDOS DE DEUDA,ACTIMED,"4,089"
19994,Repetido,93120681,FONDOS DE DEUDA,ACTIMED,"208,435"
19995,Repetido,93120699,FONDOS DE DEUDA,ACTIREN,"10,002"
19996,Repetido,93120699,FONDOS DE DEUDA,ACTIMED,"195,971"

In [119]:
clientes = clientes.drop('BP_Único_y/o_Repetido', axis=1)
clientes = clientes.drop('CATEGORIA_PRODUCTO', axis=1)
clientes

       CLAVE_CLIENTE DETALLE_PRODUCTO POSICION_CUENTA_FECHA_TRANS
2           90001801          ACTIGOB                    133,605
3           90001991          ACTICOB                        897
4           90001991             MAYA                    265,258
5           90001991          ACTIREN                         10
10          90002551          ACTIMED                    260,975
...              ...              ...                         ...
19992       93120616          ACTIMED                     32,665
19993       93120632          ACTIMED                      4,089
19994       93120681          ACTIMED                    208,435
19995       93120699          ACTIREN                     10,002
19996       93120699          ACTIMED                    195,971

[13369 rows x 3 columns]

In [120]:
clientes

       CLAVE_CLIENTE DETALLE_PRODUCTO POSICION_CUENTA_FECHA_TRANS
2           90001801          ACTIGOB                    133,605
3           90001991          ACTICOB                        897
4           90001991             MAYA                    265,258
5           90001991          ACTIREN                         10
10          90002551          ACTIMED                    260,975
...              ...              ...                         ...
19992       93120616          ACTIMED                     32,665
19993       93120632          ACTIMED                      4,089
19994       93120681          ACTIMED                    208,435
19995       93120699          ACTIREN                     10,002
19996       93120699          ACTIMED                    195,971

[13369 rows x 3 columns]

In [121]:
#Recibe un DF con los precios y devuleve el retorno medio anual
def in_return_cov(df): 
    price = df.copy()
    price = (price / price.shift(1)) -1
    price.iloc[0,:] = 0 # Primeira linha = 0     
    
    returns = np.matrix(price)
    mean_returns = np.mean(returns, axis = 0)
    
    annual_returns = np.array([])
    for i in range(len(np.transpose(mean_returns))):
        annual_returns = np.append(annual_returns,(mean_returns[0,i]+1)**252-1)   
    
    cov = price.cov()*252
    
    return (annual_returns, np.matrix(cov))

#Carga la tabla de precios
def load_prices(symbol,index,start_date,end_date):
    
    dates = pd.date_range(start_date, end_date)
    dfBase = pd.DataFrame(index = dates)
    path = "data/{}.csv"
    
    dfIndex = pd.read_csv(path.format(index),index_col = "Date",
                          parse_dates = True,usecols = ['Date', 'Adj Close'], na_values=['nan'])
    
    dfIndex = dfIndex.dropna()
    dfIndex = dfIndex.rename(columns={'Adj Close': '{}'.format(index)})
    #print(dfIndex.to_string)
    dfBase = dfBase.join(dfIndex, how = 'inner')
    
    
    for symbol in symbols:
        df_temp = pd.read_csv(path.format(symbol), index_col = "Date", parse_dates = True,
                              usecols = ['Date', 'Adj Close'], na_values=['nan'])
        df_temp = df_temp.rename(columns={'Adj Close': symbol})
        dfBase = dfBase.join(df_temp)
    
    dfBase.fillna(method = "ffill", inplace = True)
    dfBase.fillna(method = "bfill", inplace = True)
    
    return dfBase.drop('MXX',axis = 1)

#Calcula el retorno de un portafolio de activos
def port_return(W,r):
    return sum(W*r)

#Calcula el peso inicial del portafolio dado el tamaños de la bolsa
def mkt_weights(weights):
    return np.array(weights) / sum(weights)

def risk_return(W,S,r,rf=0.06):
    var = np.dot(np.dot(W,S),np.transpose(W))
    port_r = port_return(W,r)
    x = (port_r - rf) / var
    return x.item(0)

#Calcula la matriz del retorno implicito
def vector_equilibrium_return(S, W, r ):
    
    A = risk_return(W,S,r)
    
    return (np.dot(A,np.dot(S,W)))

def diago_omega(t, P, S):
    
    omega = np.dot(t,np.dot(P,np.dot(S,np.transpose(P))))
    
    for i in range(len(omega)):
        for y in range(len(omega)):
            if i != y: omega[i,y] = 0
    return omega
    
#Black Litterman Model
def posterior_estimate_return(t,S,P,Q,PI):
    
    omega = diago_omega(t, P, S)
    
    parte_1 = t*np.dot(S,np.transpose(P))
    parte_2 = np.linalg.inv(np.dot(P*t,np.dot(S,np.transpose(P))) + omega)
    parte_3 = Q - np.dot(P,np.transpose(PI))
    
    return np.transpose(PI) + np.dot(parte_1,np.dot(parte_2,parte_3))


def posterior_covariance(t,S,P,PI):
    
    omega = diago_omega(t, P, S)
    
    parte_1 = t*np.dot(S,np.transpose(P))
    parte_2 = np.linalg.inv(t*np.dot(P,np.dot(S,np.transpose(P)))+omega)
    parte_3 = t*np.dot(P,S)

    return t*S - np.dot(parte_1,np.dot(parte_2,parte_3))

In [122]:
claves_unicas= clientes.CLAVE_CLIENTE.unique()
len(claves_unicas)

11202

In [184]:
#11202
df = pd.DataFrame(columns=['CLAVE_CLIENTE','ACTICOB', 'ACTIMED', 'ACTIGOB', 'ACTIREN', 'ALTERNA', 'IMPULSA',
       'ACTI500', 'MAYA', 'ACTVIDA'])


for i in range(0,11202):
    #print(i)
    # cliente = claves_unicas[i]
    aux = clientes[clientes.CLAVE_CLIENTE == claves_unicas[i]].reset_index(drop=True)
    #print(aux.to_string())
    
    print(i,symbols,claves_unicas[i])

    aux = aux.set_index("CLAVE_CLIENTE")

     #Eliminamos las comas
    aux['POSICION_CUENTA_FECHA_TRANS']=aux['POSICION_CUENTA_FECHA_TRANS'].str.replace(',','').astype(int)

    aux = aux.groupby(by=["DETALLE_PRODUCTO"]).sum()

    symbols = aux.index.values
   


    weights = aux.POSICION_CUENTA_FECHA_TRANS.values
    precios = load_prices(symbols,"MXX", "2016-12-01", "2019-08-26")
    
    assets_return , S = in_return_cov(precios)

    #print(".-.-.-. Covariance Matrix .-.-.-.")
    #display(pd.DataFrame(S,columns = symbols,index = symbols))
    #print(".-.-.-.-.-.-.-.-.-.-.-.--.-.-.-..-.")
    W = mkt_weights(weights)
    
    #display(pd.DataFrame({'Annual Mean Return %': assets_return*100.00, 'Weight (based on market cap)': W}, index=symbols).T)
    #print(".-.-.-.-.-.-.-.-.-.-.-.--.-.-.-..-.")
    #print(".-.-.-. Delta - Coeficiente de aversion al riesgo .-.-.-.")
    A = risk_return(W,S,assets_return)
    #display(A)
    #print(".-.-.-. vector de retornos de equilibrio .-.-.-.")
    #Calculado usando otimização reversa.
    PI = vector_equilibrium_return(S, W, assets_return)
    #display(pd.DataFrame(np.transpose(PI), index=symbols))
    #print(".-.-.-.-.-.-.-.-.-.-.-.--.-.-.-..-.")
    Q = np.zeros((3,1))
    Q[0,0] = 0.005
    Q[1,0] = 0.01
    Q[2,0] = 0.005

    P = np.zeros((3,len(symbols)))

    P[0,random.randint(0, len(symbols)-1)] = 1
    P[0,random.randint(0, len(symbols)-1)] = -1

    P[1,random.randint(0, len(symbols)-1)] = 1
    P[1,random.randint(0, len(symbols)-1)] = -1

    P[2,random.randint(0, len(symbols)-1)] = 1
    P[2,random.randint(0, len(symbols)-1)] = -1

    #display(pd.DataFrame(Q, columns = ["Views"]) )

    #display(pd.DataFrame(P,columns = symbols) )
    #print(".-.-.-.-.-.-.-.-.-.-.-.--.-.-.-..-.")

    #print(".-.-.-. Black-Litterman formula .-.-.-.")
    #Calculando Black-Litterman formula
    t = 1 / len(precios) # Medida de incerteza das estimativas de retornos pelo método Meucci
    expc_return = posterior_estimate_return(t,S,P,Q,PI)
    #display(pd.DataFrame(expc_return, index = symbols))
    #print(".-.-.-.-.-.-.-.-.-.-.-.--.-.-.-..-.")
    #print(".-.-.-. Varianza Posterior .-.-.-.")
    post_cov = posterior_covariance(t,S,P,PI)
    #display(pd.DataFrame(post_cov, index = symbols, columns = symbols))
    cov_post_estimate = post_cov + S

    #display(pd.DataFrame(cov_post_estimate, index = symbols, columns = symbols))
    #print(".-.-.-. Nuevo Peso del Portafolio .-.-.-.")
    new_weigth = np.dot(np.transpose(expc_return),np.linalg.inv(A*cov_post_estimate))
    result = pd.DataFrame(new_weigth, columns = symbols)
    result['CLAVE_CLIENTE'] = claves_unicas[i]
    df = df.append(result, ignore_index=True)
    

#df

03 ['ALTERNA'] 92938414
10504 ['ACTIMED'] 92938653
10505 ['ACTIMED'] 92938695
10506 ['ACTIMED'] 92939099
10507 ['ACTIMED' 'ACTIREN'] 92939537
10508 ['ACTIMED'] 92939941
10509 ['ACTICOB' 'ACTIMED'] 92939990
10510 ['ACTIMED' 'ALTERNA'] 92940659
10511 ['ACTIMED'] 92941020
10512 ['ACTIMED'] 92942044
10513 ['ACTIMED'] 92942374
10514 ['ACTIMED' 'ALTERNA'] 92942689
10515 ['ALTERNA'] 92944024
10516 ['ACTIMED' 'ACTIREN'] 92944198
10517 ['ACTICOB' 'ACTIMED'] 92945096
10518 ['ACTIMED'] 92945187
10519 ['ACTIMED'] 92945450
10520 ['ACTIMED'] 92945807
10521 ['ACTIMED'] 92945898
10522 ['ACTIMED'] 92945963
10523 ['ACTIMED'] 92946631
10524 ['ACTIMED'] 92946672
10525 ['ACTIMED'] 92947183
10526 ['ACTIMED'] 92947209
10527 ['ACTIGOB'] 92947480
10528 ['ACTIMED'] 92947795
10529 ['ACTIMED'] 92948363
10530 ['ACTIGOB'] 92948538
10531 ['ACTIMED'] 92948561
10532 ['ACTIMED'] 92948728
10533 ['ACTIMED'] 92948942
10534 ['ACTIMED'] 92949148
10535 ['ACTIREN' 'ALTERNA'] 92949171
10536 ['ACTIMED'] 92949569
10537 ['ACTIMED'] 92949726
10538 ['ACTIMED'] 92949858
10539 ['ACTIMED' 'ACTIREN'] 92949890
10540 ['ACTIMED'] 92950369
10541 ['ACTIGOB' 'ACTIMED'] 92950955
10542 ['ALTERNA'] 92951250
10543 ['ACTIMED' 'ALTERNA'] 92952241
10544 ['ACTIMED'] 92952415
10545 ['ACTIMED'] 92952589
10546 ['ACTICOB' 'ACTIMED'] 92952621
10547 ['ACTIMED'] 92952654
10548 ['ACTIMED'] 92952860
10549 ['ACTIMED' 'ALTERNA'] 92954254
10550 ['ACTIMED' 'MAYA'] 92954585
10551 ['ACTIMED'] 92954684
10552 ['ACTIMED'] 92955640
10553 ['ACTIGOB'] 92955699
10554 ['ACTIMED'] 92956101
10555 ['ACTIGOB'] 92956200
10556 ['ACTIMED'] 92956358
10557 ['ACTIMED'] 92956424
10558 ['ACTIMED'] 92956986
10559 ['ACTIMED'] 92957091
10560 ['ACTIMED'] 92957380
10561 ['ACTIMED'] 92958537
10562 ['ACTIMED'] 92958990
10563 ['ACTIMED'] 92959188
10564 ['ALTERNA'] 92959410
10565 ['ACTIMED'] 92959444
10566 ['ACTIMED'] 92960301
10567 ['ALTERNA'] 92960343
10568 ['ALTERNA'] 92960525
10569 ['ACTIMED'] 92960889
10570 ['ACTIGOB'] 92960954
10571 ['ACTIMED' 'ALTERNA' 'MAYA'] 92961077
10572 ['ACTIMED'] 92961762
10573 ['ACTIMED'] 92962422
10574 ['ACTIMED'] 92962547
10575 ['ACTIMED'] 92962554
10576 ['ACTIMED'] 92962687
10577 ['ACTIMED'] 92962729
10578 ['ALTERNA'] 92962869
10579 ['MAYA'] 92963453
10580 ['ACTIMED'] 92964105
10581 ['ACTIGOB'] 92965037
10582 ['ACTIMED' 'ACTIREN'] 92965359
10583 ['ACTIMED'] 92965706
10584 ['ACTIMED'] 92966399
10585 ['ACTIMED'] 92966563
10586 ['ACTIMED'] 92966654
10587 ['ALTERNA'] 92967140
10588 ['ALTERNA'] 92967165
10589 ['MAYA'] 92967280
10590 ['ACTIMED'] 92967538
10591 ['ACTIMED'] 92967942
10592 ['ACTIMED'] 92968189
10593 ['ACTIMED'] 92968684
10594 ['ACTIMED'] 92968718
10595 ['ACTIMED'] 92968759
10596 ['ACTIMED'] 92968775
10597 ['ACTIMED'] 92969294
10598 ['ACTIMED'] 92969393
10599 ['ACTIMED'] 92969500
10600 ['ACTIMED' 'ALTERNA'] 92970102
10601 ['ACTIMED'] 92970284
10602 ['ACTIMED'] 92970888
10603 ['ACTIMED'] 92971621
10604 ['ACTIMED' 'ALTERNA'] 92971787
10605 ['ALTERNA'] 92972207
10606 ['ACTVIDA'] 92972231
10607 ['ACTIGOB'] 92972348
10608 ['ACTIGOB'] 92972702
10609 ['ACTIMED'] 92973056
10610 ['ACTIMED'] 92973429
10611 ['ACTIMED'] 92973668
10612 ['ACTIMED' 'MAYA'] 92973700
10613 ['ACTIMED'] 92974021
10614 ['ACTIMED'] 92974252
10615 ['ALTERNA'] 92974476
10616 ['ACTIMED'] 92974930
10617 ['ACTIGOB'] 92975887
10618 ['ACTIMED'] 92976596
10619 ['ACTIMED'] 92976612
10620 ['ACTIMED'] 92976695
10621 ['ACTIREN' 'ALTERNA'] 92976950
10622 ['ALTERNA'] 92977263
10623 ['ACTIMED'] 92977370
10624 ['ACTIMED'] 92977412
10625 ['ACTIMED'] 92977792
10626 ['ACTIMED'] 92977818
10627 ['ACTIMED'] 92978097
10628 ['ACTIMED'] 92978451
10629 ['ACTIMED'] 92978592
10630 ['ACTIGOB'] 92979269
10631 ['ACTIMED' 'ACTIREN'] 92979624
10632 ['ACTIMED' 'ACTIREN'] 92979749
10633 ['ACTIMED' 'ALTERNA'] 92979780
10634 ['ACTICOB' 'ACTIMED' 'MAYA'] 92980051
10635 ['ACTIMED'] 92980127
10636 ['ALTERNA'] 92980705
10637 ['ALTERNA'] 92980929
10638 ['ACTIMED'] 92981240
10639 ['ACTIMED'] 92981422
10640 ['ACTIMED'] 92981661
10641 ['ACTIMED'] 92982149
10642 ['ACTIMED'] 92982248
10643 ['ACTIMED'] 92982420
10644 ['ACTIMED'] 92982560
10645 ['ACTIMED'] 92982776
10646 ['ACTIMED' 'ALTERNA'] 92983212
10647 ['ACTIGOB'] 92983626
10648 ['ACTIMED'] 92983907
10649 ['ACTIMED' 'ACTIREN'] 92984129
10650 ['ACTIMED' 'ALTERNA'] 92985126
10651 ['ACTIMED'] 92985159
10652 ['ALTERNA'] 92985787
10653 ['ACTIMED'] 92986058
10654 ['ACTIGOB'] 92986421
10655 ['ACTIMED' 'ACTIREN'] 92986470
10656 ['ACTIMED'] 92986553
10657 ['ALTERNA' 'MAYA'] 92986561
10658 ['MAYA'] 92986611
10659 ['ALTERNA'] 92986728
10660 ['ACTIMED'] 92987023
10661 ['ACTIMED'] 92987122
10662 ['ACTIMED'] 92987338
10663 ['ACTIMED'] 92987361
10664 ['ACTIMED'] 92987411
10665 ['ACTIMED'] 92987452
10666 ['ACTIMED'] 92988161
10667 ['ACTIMED' 'ACTIREN'] 92988344
10668 ['ACTIMED' 'ACTIREN'] 92988617
10669 ['ACTIMED'] 92988666
10670 ['ACTIMED'] 92988732
10671 ['ACTIMED'] 92988914
10672 ['ACTIMED'] 92989185
10673 ['ACTIMED'] 92989821
10674 ['ACTIMED' 'ALTERNA'] 92990118
10675 ['ACTIMED' 'ACTIREN'] 92990373
10676 ['ACTIMED'] 92990464
10677 ['ACTIMED'] 92990647
10678 ['ACTIMED'] 92990712
10679 ['ACTIMED'] 92990852
10680 ['ACTIMED'] 92991017
10681 ['ACTIMED'] 92991223
10682 ['ACTIMED'] 92991322
10683 ['ACTIMED'] 92991900
10684 ['ACTIMED'] 92992205
10685 ['ALTERNA'] 92992379
10686 ['ACTIMED'] 92992452
10687 ['ALTERNA'] 92992510
10688 ['ACTIMED'] 92992858
10689 ['ACTIMED'] 92993245
10690 ['ACTIMED'] 92993484
10691 ['ALTERNA'] 92993641
10692 ['ALTERNA'] 92993708
10693 ['ACTIMED' 'MAYA'] 92993724
10694 ['ACTIMED'] 92994037
10695 ['ACTIMED'] 92994128
10696 ['ACTIMED'] 92994219
10697 ['ACTIMED'] 92994250
10698 ['ACTIGOB' 'ACTIMED'] 92994433
10699 ['ALTERNA'] 92994664
10700 ['ACTIMED'] 92994748
10701 ['ALTERNA'] 92995406
10702 ['ACTIMED'] 92995679
10703 ['ACTIMED' 'ACTIREN' 'MAYA'] 92995901
10704 ['ACTIMED'] 92995992
10705 ['ACTIMED'] 92996420
10706 ['ACTIMED'] 92996750
10707 ['ACTIMED'] 92996859
10708 ['MAYA'] 92997238
10709 ['ACTIGOB'] 92997402
10710 ['ACTIMED' 'ALTERNA'] 92998079
10711 ['ACTIMED'] 92998293
10712 ['ACTIGOB'] 92998749
10713 ['ACTIGOB'] 92999879
10714 ['ACTIGOB'] 93000081
10715 ['ACTIMED'] 93000099
10716 ['ACTIMED'] 93000172
10717 ['ACTIMED'] 93000289
10718 ['ALTERNA'] 93000495
10719 ['ACTIMED'] 93000537
10720 ['ACTICOB' 'ACTIMED'] 93000628
10721 ['ACTIMED' 'ACTIREN'] 93001055
10722 ['ACTIMED'] 93001147
10723 ['ACTIMED'] 93001154
10724 ['ALTERNA'] 93001451
10725 ['ACTIMED'] 93001964
10726 ['ALTERNA'] 93002582
10727 ['ALTERNA' 'MAYA'] 93002665
10728 ['ACTIMED'] 93003028
10729 ['ACTIMED'] 93003077
10730 ['ACTIMED'] 93003119
10731 ['ACTIGOB'] 93003135
10732 ['ACTIMED'] 93003358
10733 ['ALTERNA'] 93003432
10734 ['ACTIMED'] 93003531
10735 ['ALTERNA'] 93003598
10736 ['ACTIMED'] 93004273
10737 ['ACTIMED'] 93004372
10738 ['ACTIMED' 'ACTIREN'] 93004687
10739 ['ACTIMED'] 93005122
10740 ['ACTIMED'] 93005148
10741 ['ACTIMED'] 93005346
10742 ['ACTIMED'] 93005379
10743 ['ACTIMED'] 93005460
10744 ['ACTIMED'] 93005668
10745 ['ACTIMED'] 93006146
10746 ['ACTIMED' 'ACTIREN' 'ALTERNA'] 93006393
10747 ['ACTIMED'] 93006401
10748 ['ACTIMED'] 93006666
10749 ['ACTIMED'] 93006989
10750 ['ACTIMED'] 93006997
10751 ['ACTIMED'] 93007466
10752 ['ACTIMED'] 93007532
10753 ['ACTIMED' 'ACTIREN'] 93008837
10754 ['ACTIMED'] 93009215
10755 ['ALTERNA'] 93009223
10756 ['ACTIMED'] 93009603
10757 ['ACTIMED'] 93010072
10758 ['ACTIMED'] 93010254
10759 ['ACTIMED'] 93010262
10760 ['ACTIMED'] 93010759
10761 ['ACTIMED' 'ACTIREN'] 93010916
10762 ['ACTIGOB' 'ACTIMED'] 93011070
10763 ['ACTIMED'] 93011187
10764 ['ALTERNA'] 93011211
10765 ['MAYA'] 93011534
10766 ['ACTIMED' 'ALTERNA'] 93011906
10767 ['ACTIMED'] 93012474
10768 ['ACTIMED'] 93012565
10769 ['ACTIMED'] 93012680
10770 ['ACTIMED'] 93013274
10771 ['ACTIMED'] 93013431
10772 ['ALTERNA'] 93013662
10773 ['ALTERNA'] 93013886
10774 ['ACTIMED'] 93014017
10775 ['ACTIMED' 'ACTIREN'] 93014058
10776 ['ACTICOB' 'ALTERNA'] 93014421
10777 ['ACTIMED'] 93015089
10778 ['ALTERNA'] 93015188
10779 ['ACTIMED'] 93015733
10780 ['ACTIMED'] 93015899
10781 ['ACTIMED'] 93016434
10782 ['ACTIMED'] 93016673
10783 ['ACTIMED'] 93017184
10784 ['ACTIMED'] 93017333
10785 ['ACTIMED'] 93017507
10786 ['MAYA'] 93017598
10787 ['ACTIMED'] 93017952
10788 ['ACTIMED'] 93018380
10789 ['ACTIMED'] 93018414
10790 ['ACTIMED'] 93018653
10791 ['ACTICOB' 'ACTIMED'] 93018737
10792 ['ACTIMED'] 93018802
10793 ['ACTIMED'] 93019123
10794 ['ACTIMED'] 93019305
10795 ['ACTIMED'] 93019347
10796 ['MAYA'] 93019404
10797 ['ALTERNA'] 93019420
10798 ['ACTIMED'] 93019826
10799 ['ACTIMED'] 93019891
10800 ['ACTIMED'] 93020576
10801 ['ACTICOB' 'ACTIMED' 'ALTERNA'] 93020675
10802 ['ACTIMED'] 93020857
10803 ['ACTIMED'] 93021129
10804 ['ACTIMED'] 93021160
10805 ['ACTIMED'] 93021319
10806 ['ACTIGOB' 'ACTIMED' 'ACTIREN'] 93021392
10807 ['ACTIMED'] 93022119
10808 ['ALTERNA'] 93022697
10809 ['ACTIMED'] 93022945
10810 ['ACTIMED'] 93023323
10811 ['ALTERNA'] 93023612
10812 ['ACTIMED'] 93024305
10813 ['ACTIMED' 'ACTIREN'] 93024388
10814 ['ALTERNA'] 93024453
10815 ['ALTERNA'] 93024685
10816 ['ACTIMED'] 93024974
10817 ['ACTIMED'] 93025500
10818 ['ACTIMED'] 93025674
10819 ['ACTIMED'] 93025807
10820 ['ACTIMED'] 93026219
10821 ['ACTIMED'] 93026631
10822 ['ACTIMED'] 93028314
10823 ['ACTIMED'] 93028769
10824 ['ACTIMED'] 93029221
10825 ['ACTIMED' 'ALTERNA'] 93029304
10826 ['ACTIMED'] 93029379
10827 ['ACTICOB' 'ALTERNA'] 93029833
10828 ['ACTIMED'] 93029908
10829 ['ACTIMED'] 93029957
10830 ['ALTERNA'] 93029999
10831 ['ACTIMED'] 93030278
10832 ['ACTIMED'] 93030369
10833 ['ACTIMED'] 93030724
10834 ['ACTIMED'] 93030823
10835 ['ACTIMED'] 93030898
10836 ['ACTIMED'] 93031219
10837 ['ACTIMED' 'ALTERNA'] 93031425
10838 ['ACTIMED'] 93032258
10839 ['ALTERNA'] 93032423
10840 ['ACTIMED' 'ACTIREN'] 93032779
10841 ['ACTIMED'] 93032936
10842 ['ACTIMED'] 93032993
10843 ['ACTIMED'] 93033041
10844 ['ACTIMED'] 93033678
10845 ['ACTIMED'] 93034163
10846 ['ACTIMED'] 93034221
10847 ['ACTIMED'] 93034320
10848 ['ACTIMED'] 93034346
10849 ['ACTIMED'] 93034379
10850 ['ALTERNA'] 93034676
10851 ['ACTIMED'] 93035020
10852 ['ACTIMED'] 93035145
10853 ['ACTIMED'] 93035459
10854 ['ACTIMED' 'ALTERNA'] 93035467
10855 ['ALTERNA'] 93035988
10856 ['ACTIMED'] 93036127
10857 ['ALTERNA'] 93037208
10858 ['ACTIMED'] 93037307
10859 ['ACTIMED'] 93037471
10860 ['ACTIGOB'] 93037711
10861 ['ACTIMED'] 93038172
10862 ['ACTIMED'] 93038420
10863 ['ACTICOB' 'ACTIMED'] 93038891
10864 ['MAYA'] 93038974
10865 ['ACTIMED'] 93039550
10866 ['ACTIMED'] 93039709
10867 ['ALTERNA'] 93039972
10868 ['ACTIGOB'] 93039980
10869 ['ACTIMED'] 93040103
10870 ['ACTIMED'] 93040400
10871 ['ACTIMED'] 93040590
10872 ['ACTIMED'] 93041341
10873 ['ACTICOB' 'ACTIMED'] 93041440
10874 ['ACTIMED'] 93041739
10875 ['ACTIMED'] 93041986
10876 ['ACTICOB' 'ACTIMED'] 93042042
10877 ['ACTIGOB'] 93042182
10878 ['ACTIMED' 'ALTERNA'] 93042190
10879 ['ACTIMED'] 93042331
10880 ['ACTIMED' 'MAYA'] 93042455
10881 ['ACTIMED'] 93042653
10882 ['ACTICOB' 'ACTIMED'] 93042679
10883 ['ACTIMED'] 93043024
10884 ['ACTIMED'] 93043636
10885 ['ACTIMED'] 93043867
10886 ['ACTIMED' 'ACTIREN'] 93043925
10887 ['ACTIMED'] 93044071
10888 ['ALTERNA'] 93044097
10889 ['ACTIMED'] 93044238
10890 ['ALTERNA'] 93044626
10891 ['ACTIMED'] 93044683
10892 ['ACTIMED'] 93044709
10893 ['ACTIGOB' 'ACTIMED'] 93044717
10894 ['ACTIMED'] 93045193
10895 ['ACTIMED'] 93045375
10896 ['ALTERNA'] 93045748
10897 ['ACTIMED'] 93046266
10898 ['ACTIMED'] 93046308
10899 ['ALTERNA'] 93046506
10900 ['ACTIMED'] 93046787
10901 ['ACTIMED' 'ACTIREN'] 93046886
10902 ['ALTERNA'] 93046993
10903 ['ACTIMED'] 93047447
10904 ['ACTIGOB'] 93047587
10905 ['ACTIMED' 'ACTIREN'] 93047892
10906 ['ACTIMED'] 93048197
10907 ['ACTIMED'] 93048759
10908 ['ACTIMED'] 93048841
10909 ['ACTICOB' 'ACTIMED' 'ALTERNA'] 93048999
10910 ['MAYA'] 93049187
10911 ['ACTIMED'] 93049377
10912 ['ACTIMED'] 93049393
10913 ['ACTIMED'] 93049690
10914 ['ACTIGOB'] 93050185
10915 ['ACTIMED'] 93050367
10916 ['ACTIMED'] 93050482
10917 ['ACTIMED' 'MAYA'] 93050516
10918 ['ACTIMED' 'MAYA'] 93050870
10919 ['ACTIMED'] 93051001
10920 ['ACTICOB' 'ACTIMED'] 93051464
10921 ['ACTICOB' 'ACTIMED'] 93051720
10922 ['ACTIMED'] 93051852
10923 ['ACTIMED'] 93052207
10924 ['ACTIMED'] 93053197
10925 ['ACTIMED'] 93053452
10926 ['ACTIMED'] 93053692
10927 ['ACTIMED'] 93053775
10928 ['ACTIMED' 'ALTERNA'] 93053809
10929 ['ACTIMED' 'MAYA'] 93054104
10930 ['ACTIMED'] 93054179
10931 ['ACTIMED' 'ACTIREN'] 93054849
10932 ['ACTIMED'] 93055093
10933 ['ACTIMED'] 93055374
10934 ['ACTIMED'] 93055473
10935 ['ACTIMED'] 93055812
10936 ['ACTIMED'] 93055911
10937 ['ACTIGOB'] 93055960
10938 ['ACTIMED' 'ACTIREN'] 93056505
10939 ['ACTIMED'] 93056620
10940 ['MAYA'] 93056703
10941 ['ACTIMED'] 93056711
10942 ['ACTIMED'] 93056828
10943 ['ACTIMED'] 93056851
10944 ['ACTIMED' 'ACTIREN'] 93057032
10945 ['ACTIMED'] 93057065
10946 ['ACTIMED'] 93057354
10947 ['ACTIMED'] 93058931
10948 ['ACTIMED'] 93059046
10949 ['ACTIMED'] 93059087
10950 ['ALTERNA'] 93059368
10951 ['ACTIMED'] 93059517
10952 ['ACTIMED'] 93059525
10953 ['ALTERNA'] 93059848
10954 ['ACTIMED'] 93059905
10955 ['ACTIMED'] 93061364
10956 ['ACTIMED'] 93061398
10957 ['ACTIMED'] 93061679
10958 ['ACTIMED'] 93062156
10959 ['ACTIMED' 'ACTIREN'] 93062222
10960 ['ACTIMED'] 93062289
10961 ['ACTIMED'] 93063469
10962 ['ACTIMED'] 93063659
10963 ['ACTIMED'] 93064491
10964 ['ACTIGOB'] 93064830
10965 ['ACTIMED'] 93065548
10966 ['ACTIMED'] 93065639
10967 ['ALTERNA'] 93066058
10968 ['ACTIMED' 'ACTIREN'] 93066090
10969 ['ACTIMED'] 93066116
10970 ['ACTIMED'] 93066330
10971 ['ACTICOB' 'ACTIMED'] 93066777
10972 ['ALTERNA'] 93067346
10973 ['ACTIMED'] 93067544
10974 ['ACTIMED'] 93067676
10975 ['ACTIMED'] 93067734
10976 ['ACTIMED'] 93068278
10977 ['ACTIMED'] 93068377
10978 ['ACTIMED'] 93068427
10979 ['ACTIMED'] 93068518
10980 ['MAYA'] 93068542
10981 ['ALTERNA'] 93068633
10982 ['ACTIMED'] 93068708
10983 ['ACTIGOB'] 93069201
10984 ['ACTIMED'] 93069532
10985 ['ACTIMED'] 93070449
10986 ['ACTIMED'] 93070548
10987 ['ACTIMED'] 93071116
10988 ['ACTIMED' 'ACTIREN'] 93071421
10989 ['ACTIMED'] 93071843
10990 ['ALTERNA'] 93071884
10991 ['ACTIMED'] 93071959
10992 ['MAYA'] 93072379
10993 ['ACTIMED'] 93072478
10994 ['ACTIMED'] 93072510
10995 ['ACTIMED'] 93072668
10996 ['ACTIMED'] 93072858
10997 ['ACTIMED'] 93072890
10998 ['ACTIMED'] 93072999
10999 ['ALTERNA'] 93073294
11000 ['ACTIMED'] 93073419
11001 ['ACTIMED' 'ACTIREN'] 93074029
11002 ['ACTIMED'] 93074375
11003 ['ACTIGOB'] 93074409
11004 ['ACTIMED' 'ACTIREN'] 93074797
11005 ['ACTIMED'] 93074854
11006 ['ACTIMED' 'ALTERNA'] 93075174
11007 ['ACTIMED'] 93075372
11008 ['ACTIMED'] 93075844
11009 ['ACTIMED' 'ALTERNA'] 93075935
11010 ['ACTIMED'] 93076073
11011 ['ACTIMED'] 93076214
11012 ['ACTIMED'] 93076347
11013 ['ACTIMED'] 93076370
11014 ['ACTIMED'] 93076610
11015 ['ACTIMED'] 93076644
11016 ['ACTIMED'] 93076693
11017 ['ACTIMED'] 93076735
11018 ['ACTIMED'] 93076784
11019 ['ACTIMED' 'MAYA'] 93077006
11020 ['ACTIMED' 'ALTERNA'] 93077220
11021 ['ACTIMED'] 93077345
11022 ['ACTIREN' 'ALTERNA'] 93077493
11023 ['ALTERNA'] 93078319
11024 ['ACTIMED'] 93078434
11025 ['ACTIMED'] 93078673
11026 ['ACTIMED'] 93078707
11027 ['ACTIMED'] 93078806
11028 ['ACTIMED'] 93078897
11029 ['ACTIMED'] 93079200
11030 ['ACTIMED'] 93079689
11031 ['ACTIGOB'] 93079986
11032 ['ALTERNA'] 93080091
11033 ['ACTIMED'] 93080190
11034 ['ACTIMED'] 93080547
11035 ['ACTIMED' 'ALTERNA'] 93080968
11036 ['ACTIMED'] 93080976
11037 ['ACTIMED'] 93081610
11038 ['MAYA'] 93081784
11039 ['ALTERNA'] 93081867
11040 ['ALTERNA'] 93082030
11041 ['ALTERNA'] 93082253
11042 ['ALTERNA'] 93082683
11043 ['ACTIGOB'] 93082840
11044 ['ACTIMED'] 93083194
11045 ['ACTIMED' 'MAYA'] 93083319
11046 ['ACTIMED'] 93083467
11047 ['MAYA'] 93083608
11048 ['ACTIMED'] 93083855
11049 ['ALTERNA'] 93084036
11050 ['ACTIMED'] 93084077
11051 ['ACTIMED' 'ACTIREN'] 93084374
11052 ['ACTIGOB'] 93084465
11053 ['ACTIMED'] 93085165
11054 ['ACTIMED'] 93085454
11055 ['ACTICOB' 'ACTIMED' 'MAYA'] 93085579
11056 ['ACTIMED'] 93085629
11057 ['ACTIMED'] 93086023
11058 ['ACTIMED' 'ALTERNA'] 93086221
11059 ['ACTIMED' 'ACTIREN'] 93086247
11060 ['ACTIMED'] 93086916
11061 ['ACTIMED' 'ACTIREN'] 93086957
11062 ['ACTIMED'] 93087211
11063 ['ACTIMED'] 93087500
11064 ['ALTERNA'] 93087625
11065 ['ALTERNA'] 93088110
11066 ['ACTIMED' 'ACTIREN'] 93088524
11067 ['ACTIGOB'] 93088797
11068 ['ACTIMED'] 93088847
11069 ['ACTIMED'] 93088888
11070 ['ACTIMED'] 93089092
11071 ['MAYA'] 93089142
11072 ['ALTERNA'] 93089589
11073 ['ACTIMED'] 93089639
11074 ['ACTIMED' 'ACTIREN'] 93089803
11075 ['ACTIMED'] 93089878
11076 ['ACTIMED' 'ALTERNA'] 93089886
11077 ['ACTIGOB' 'ACTIMED'] 93089928
11078 ['ACTIMED'] 93090082
11079 ['ACTIMED' 'ALTERNA'] 93090686
11080 ['ACTIMED'] 93090694
11081 ['ACTIMED'] 93090967
11082 ['ACTIMED'] 93090983
11083 ['ACTIMED'] 93091106
11084 ['ACTIMED'] 93091122
11085 ['ALTERNA'] 93091288
11086 ['ACTIMED'] 93091478
11087 ['ACTIMED'] 93091528
11088 ['ACTIMED' 'ALTERNA' 'MAYA'] 93091619
11089 ['ACTIMED'] 93091676
11090 ['ACTIGOB'] 93092500
11091 ['ALTERNA'] 93092690
11092 ['ACTIMED'] 93093144
11093 ['ACTIMED'] 93093334
11094 ['ACTIMED'] 93093599
11095 ['ACTIGOB'] 93093763
11096 ['ACTIMED'] 93094019
11097 ['ACTIMED'] 93094118
11098 ['ACTIREN' 'ALTERNA'] 93094217
11099 ['MAYA'] 93094225
11100 ['ACTIMED'] 93094241
11101 ['ACTIMED'] 93094373
11102 ['ACTIMED'] 93095560
11103 ['ACTIMED'] 93095628
11104 ['ACTIMED'] 93095917
11105 ['ALTERNA'] 93096121
11106 ['ACTIMED'] 93096287
11107 ['ACTIMED'] 93096337
11108 ['ACTIMED'] 93096709
11109 ['ACTICOB' 'ACTIMED' 'ALTERNA'] 93096816
11110 ['MAYA'] 93097178
11111 ['MAYA'] 93097194
11112 ['ACTIMED'] 93097202
11113 ['ACTIMED'] 93097210
11114 ['MAYA'] 93097467
11115 ['ACTIGOB'] 93097525
11116 ['ACTIGOB'] 93097947
11117 ['ACTIMED'] 93098473
11118 ['ACTIMED'] 93098507
11119 ['ALTERNA'] 93098622
11120 ['ACTIMED'] 93098689
11121 ['ALTERNA'] 93099323
11122 ['ALTERNA'] 93099463
11123 ['ACTIMED'] 93099919
11124 ['ACTIMED'] 93099984
11125 ['ACTIMED'] 93100493
11126 ['ACTIMED'] 93100667
11127 ['ACTIMED'] 93100725
11128 ['ACTIMED' 'ALTERNA'] 93100857
11129 ['ALTERNA'] 93101178
11130 ['ACTIGOB'] 93101566
11131 ['ACTIMED'] 93101574
11132 ['ACTIMED'] 93102135
11133 ['MAYA'] 93102804
11134 ['ALTERNA'] 93103133
11135 ['ACTIMED'] 93103885
11136 ['ACTIMED'] 93104677
11137 ['ACTIMED'] 93104784
11138 ['ACTIMED'] 93105641
11139 ['ACTIMED'] 93105658
11140 ['ACTIMED'] 93105898
11141 ['ACTIMED'] 93106177
11142 ['ACTIMED'] 93107076
11143 ['ACTIGOB'] 93107134
11144 ['ACTIMED'] 93107274
11145 ['ACTIMED' 'ACTIREN' 'IMPULSA'] 93107746
11146 ['ACTIMED'] 93107811
11147 ['ACTIMED'] 93108017
11148 ['ACTIMED'] 93108249
11149 ['ACTIMED'] 93108629
11150 ['ACTIMED'] 93108710
11151 ['ALTERNA'] 93109239
11152 ['ACTIREN' 'ALTERNA'] 93109502
11153 ['ALTERNA'] 93110047
11154 ['ACTIMED'] 93110328
11155 ['MAYA'] 93110534
11156 ['ACTIMED'] 93110955
11157 ['ACTIGOB'] 93111060
11158 ['ALTERNA'] 93111094
11159 ['ACTIMED'] 93111359
11160 ['ACTIMED' 'ACTIREN'] 93111417
11161 ['ACTIMED'] 93111508
11162 ['ACTIMED'] 93112407
11163 ['ACTIMED'] 93112415
11164 ['ACTIMED'] 93112589
11165 ['ACTIMED'] 93112738
11166 ['ACTIMED'] 93112746
11167 ['ACTIMED' 'MAYA'] 93112894
11168 ['ACTIGOB' 'ACTIMED'] 93112936
11169 ['ACTIMED'] 93113512
11170 ['ACTIMED'] 93113686
11171 ['ACTIMED'] 93114098
11172 ['ACTIGOB' 'ALTERNA'] 93114106
11173 ['ALTERNA'] 93114502
11174 ['ACTIMED'] 93114569
11175 ['ACTIMED'] 93114882
11176 ['ACTIMED'] 93115202
11177 ['ACTIMED' 'ACTIREN'] 93115301
11178 ['ACTIMED'] 93115350
11179 ['ALTERNA'] 93115400
11180 ['ACTIMED'] 93115475
11181 ['ACTIGOB'] 93115681
11182 ['ACTIMED'] 93116051
11183 ['ACTIMED'] 93117067
11184 ['ACTIMED'] 93117133
11185 ['ACTIMED'] 93117661
11186 ['ACTIMED'] 93118032
11187 ['ACTIMED'] 93118172
11188 ['ACTIMED'] 93118305
11189 ['ACTIMED'] 93118594
11190 ['ACTIMED' 'ACTIREN'] 93118644
11191 ['MAYA'] 93118867
11192 ['ACTIMED'] 93119337
11193 ['ACTIMED' 'ACTIREN' 'MAYA'] 93119964
11194 ['ACTIMED' 'ALTERNA'] 93120053
11195 ['ACTIMED'] 93120327
11196 ['ACTIMED'] 93120392
11197 ['ACTIMED'] 93120509
11198 ['ACTIMED'] 93120616
11199 ['ACTIMED'] 93120632
11200 ['ACTIMED'] 93120681
11201 ['ACTIMED'] 93120699

In [185]:
df.to_csv("optimos_BL.csv", index = True, header=True)